Repository kip-d/omnifocus-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(OMN-315): onhold_reactivation detector — defer/due/review signals on on-hold projects
  src/tools/unified/OmniFocusAnalyzeTool.ts
  tests/unit/tools/unified/OmniFocusAnalyzeTool.test.ts
Due: prettier --write, eslint --fix

test(OMN-315): onhold_reactivation priority-order test (defer > due > review)
  tests/unit/tools/unified/OmniFocusAnalyzeTool.test.ts
Due: prettier --write, eslint --fix

feat(OMN-315): sequential_blocked_far detector; extract groupTasksByProject (3rd duplicate removed)
  src/tools/unified/OmniFocusAnalyzeTool.ts
  tests/unit/tools/unified/OmniFocusAnalyzeTool.test.ts
Due: prettier --write, eslint --fix

test(OMN-315): sequential_blocked_far boundary + order-sensitivity tests
  tests/unit/tools/unified/OmniFocusAnalyzeTool.test.ts
Due: prettier --write, eslint --fix

feat(OMN-315): guided_review standard/deep modes use onhold_reactivation + sequential_blocked_far, not a raw on-hold list
  src/prompts/gtd/GuidedReviewPrompt.ts
  tests/unit/prompts/GuidedReviewPrompt.test.ts
Due: prettier --write, eslint --fix

chore(OMN-313): drop stale on_hold_projects from test drift-guard skip-list
  tests/unit/prompts/GuidedReviewPrompt.test.ts
Due: prettier --write, eslint --fix

docs(OMN-315): route standard-mode guided review through the new on-hold/sequential detectors
  docs/skills/omnifocus-assistant/references/workflow-guided-review.md
Due: prettier --write

docs(OMN-315): changelog
  CHANGELOG.md
Due: prettier --write

fix(OMN-315): onhold_reactivation + sequential_blocked_far leaked dropped tasks
  src/tools/unified/OmniFocusAnalyzeTool.ts
  tests/unit/tools/unified/OmniFocusAnalyzeTool.test.ts
Due: prettier --write, eslint --fix

feat(OMN-315): onhold_reactivation + sequential_blocked_far detectors (#269)
  CHANGELOG.md
  docs/skills/omnifocus-assistant/references/workflow-guided-review.md
  docs/superpowers/plans/2026-08-31-omn-315-onhold-sequential-detectors.md
  src/omnifocus/response-schemas/read.ts
  src/prompts/gtd/GuidedReviewPrompt.ts
  src/tools/unified/OmniFocusAnalyzeTool.ts
  tests/unit/omnifocus/script-response-schemas.test.ts
  tests/unit/prompts/GuidedReviewPrompt.test.ts
  tests/unit/tools/unified/OmniFocusAnalyzeTool.test.ts
Due: prettier --write, eslint --fix

fix(OMN-322): compute pattern_analysis task-by-project grouping once per request
  CHANGELOG.md
  src/tools/unified/OmniFocusAnalyzeTool.ts
  tests/unit/tools/unified/OmniFocusAnalyzeTool.test.ts
Due: prettier --write, eslint --fix

refactor(OMN-323): table-ize detectOnholdReactivation's candidate signals
  CHANGELOG.md
  src/tools/unified/OmniFocusAnalyzeTool.ts
Due: prettier --write, eslint --fix

fix(OMN-323): restore detectOnholdReactivation's doc comment above the function
  src/tools/unified/OmniFocusAnalyzeTool.ts
Due: prettier --write, eslint --fix

fix(OMN-322): compute pattern_analysis task-by-project grouping once per request (#270)
  CHANGELOG.md
  src/tools/unified/OmniFocusAnalyzeTool.ts
  tests/unit/tools/unified/OmniFocusAnalyzeTool.test.ts
Due: prettier --write, eslint --fix

refactor(OMN-323): table-ize detectOnholdReactivation's candidate signals (#271)
  CHANGELOG.md
  src/tools/unified/OmniFocusAnalyzeTool.ts
Due: prettier --write, eslint --fix

fix(OMN-304): round-3 gate findings — LEAK-absence honesty, preflight term, loud fallback, shared budget math
  scripts/ops/install-integration-schedule.sh
Due: none

fix(OMN-304): apply /code-review findings — budget authority, kill grace, shared poll loop
  scripts/ops/install-integration-schedule.sh
Due: none

fix(OMN-304): round-4 gate findings — KILL_GRACE from source, launchctl-down diagnosis, rc crash guard
  scripts/ops/install-integration-schedule.sh
Due: none

fix(OMN-304): --verify re-reads the log region after termination instead of reusing the STATUS-time capture
  scripts/ops/install-integration-schedule.sh
Due: none

fix(OMN-304): round-2 gate findings — launchctl failure is not termination; verify_budget gets the kill grace too
  scripts/ops/install-integration-schedule.sh
Due: none

fix(OMN-304): round-5 gate findings — fail hard on parse miss, fix sub-minute wait display
  scripts/ops/install-integration-schedule.sh
Due: none

docs(OMN-307): add typecheck:test to the pre-completion gate, and to ci:local
  CLAUDE.md
  scripts/ci-local.sh
Due: prettier --write

fix(OMN-307): delete the unreachable filters.search lowering alias
  CHANGELOG.md
  src/contracts/ast/builder.ts
  src/contracts/ast/script-builder.ts
  src/contracts/filters.ts
  tests/unit/contracts/ast/builder.test.ts
  tests/unit/contracts/ast/describe-filter-coverage.test.ts
  tests/unit/contracts/ast/filter-generator.test.ts
  tests/unit/tools/unified/schemas/read-schema.test.ts
Due: prettier --write, eslint --fix

fix(OMN-307): repoint two OMN-142 guards off the deleted search field
  tests/unit/contracts/ast/filter-coverage.test.ts
  tests/unit/tools/unified/compilers/QueryCompiler.test.ts
Due: prettier --write, eslint --fix

fix(OMN-321): serialize osascript spawns process-wide (FIFO queue)
  CHANGELOG.md
  src/omnifocus/DiagnosticOmniAutomation.ts
  src/omnifocus/OmniAutomation.ts
  src/omnifocus/osascript-queue.ts
  tests/unit/omnifocus/DiagnosticOmniAutomation.test.ts
  tests/unit/omnifocus/OmniAutomation.test.ts
  tests/unit/omnifocus/osascript-queue.test.ts
Due: prettier --write, eslint --fix

fix(OMN-321): /code-review high round 1 — queue-wait log in the queue, URL-scheme path queued, live A/B recorded
  src/cache/CacheWarmer.ts
  src/omnifocus/DiagnosticOmniAutomation.ts
  src/omnifocus/OmniAutomation.ts
  src/omnifocus/osascript-queue.ts
  tests/unit/omnifocus/osascript-queue.test.ts
Due: prettier --write, eslint --fix

refactor(OMN-321): delete executeViaUrlScheme (dead since the V1 tool removal)
  CHANGELOG.md
  src/omnifocus/OmniAutomation.ts
  src/omnifocus/osascript-queue.ts
Due: prettier --write, eslint --fix

fix(OMN-321): serialize osascript spawns process-wide (FIFO queue) (#272)
  CHANGELOG.md
  src/cache/CacheWarmer.ts
  src/omnifocus/DiagnosticOmniAutomation.ts
  src/omnifocus/OmniAutomation.ts
  src/omnifocus/osascript-queue.ts
  tests/unit/omnifocus/DiagnosticOmniAutomation.test.ts
  tests/unit/omnifocus/OmniAutomation.test.ts
  tests/unit/omnifocus/osascript-queue.test.ts
Due: prettier --write, eslint --fix

chore: update OmniFocus API definitions to 4.9 (getTypeScriptDeclarations export)
  docs/AISLOP_EVALUATION.md
  src/omnifocus/api/OmniFocus-4.8.6-d.ts
  src/omnifocus/api/OmniFocus-4.9-d.ts
  src/omnifocus/api/OmniFocus.d.ts
  src/omnifocus/api/README.md
Due: prettier --write, eslint --fix

docs: name the two Form.Field constructors normalized in the 4.9 snapshot
  src/omnifocus/api/README.md
Due: prettier --write

test(OMN-325): install the pinned clock in both OMN-315 detector test blocks
  tests/unit/tools/unified/OmniFocusAnalyzeTool.test.ts
Due: prettier --write, eslint --fix

docs: drop the volatile line-count column from the four-tools table
  ARCHITECTURE.md
Due: prettier --write

test(OMN-325): install the pinned clock in both OMN-315 detector test blocks (#274)
  tests/unit/tools/unified/OmniFocusAnalyzeTool.test.ts
Due: prettier --write, eslint --fix

docs: correct the .prettierignore claim in the AISLOP exclude rationale
  docs/AISLOP_EVALUATION.md
Due: prettier --write

chore: re-verify the 14 undocumented API extensions on OmniFocus 4.9; fix probe stringify
  src/omnifocus/api/README.md
  tests/manual/test-extensions.js
Due: prettier --write, eslint --fix

fix(OMN-326): ci-local step 8 drives the server via verify-deploy, not a one-shot pipe
  scripts/ci-local.sh
Due: none

fix: extensions probe counts an un-describable value as a failure; sync verified-on header
  src/omnifocus/api/OmniFocus-extensions.d.ts
  tests/manual/test-extensions.js
Due: prettier --write, eslint --fix

refactor: extensions probe describes values with Automation.getDisplayString
  src/omnifocus/api/README.md
  tests/manual/test-extensions.js
Due: prettier --write, eslint --fix

docs(api): state the real cause of the TS1016 build failure; fix the probe command
  src/omnifocus/api/README.md
Due: prettier --write

docs: drop the volatile line-count column from the four-tools table (#275)
  ARCHITECTURE.md
  docs/AISLOP_EVALUATION.md
  src/omnifocus/api/OmniFocus-extensions.d.ts
  src/omnifocus/api/README.md
  tests/manual/test-extensions.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{ts,js}
