Repository kip-d/omnifocus-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: document export feature in CLAUDE.md
  CLAUDE.md
Due: prettier --write

docs: add GraphViz DOT process workflows to CLAUDE.md
  .claude/processes/CLAUDE-PROCESSES.dot
  .gitignore
  CLAUDE.md
Due: prettier --write

docs: enhance process DOT with Jesse's gap coverage patterns
  .claude/processes/CLAUDE-PROCESSES.dot
Due: none

docs: add elements-of-style skill to verification workflow
  .claude/processes/CLAUDE-PROCESSES.dot
Due: none

docs: add DOT effectiveness tracking template
  .claude/processes/DOT-EFFECTIVENESS-TRACKING.md
Due: prettier --write

fix(OMN-5): enable parentTaskId updates for task hierarchy changes
  src/contracts/ast/mutation-script-builder.ts
  src/contracts/ast/script-builder.ts
  src/contracts/mutations.ts
  src/tools/tasks/ManageTaskTool.ts
  src/tools/unified/compilers/MutationCompiler.ts
  src/tools/unified/schemas/write-schema.ts
  tests/integration/validation/update-operations.test.ts
Due: prettier --write, eslint --fix

fix: enable task status updates (completed/dropped) via update operation
  src/contracts/ast/mutation-script-builder.ts
  src/tools/tasks/ManageTaskTool.ts
Due: prettier --write, eslint --fix

fix: correctly use OmniFocus 4.7+ RepetitionRule API
  src/contracts/ast/mutation-script-builder.ts
  src/contracts/mutations.ts
  src/tools/tasks/ManageTaskTool.ts
  src/tools/unified/schemas/write-schema.ts
Due: prettier --write, eslint --fix

fix: update MutationCompiler RepetitionRule interface
  src/tools/unified/compilers/MutationCompiler.ts
Due: prettier --write, eslint --fix

fix: use OmniJS Project.Status enums instead of string literals
  src/contracts/ast/mutation-script-builder.ts
Due: prettier --write, eslint --fix

chore: restructure git hooks for faster workflow
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: prettier --write

feat: update OmniFocus API definitions to version 4.8.6
  CLAUDE.md
  src/omnifocus/api/OmniFocus-4.8.6-d.ts
  src/omnifocus/api/OmniFocus.d.ts
  src/omnifocus/api/README.md
Due: prettier --write, eslint --fix

fix: restore accidentally deleted CLAUDE.md content
  CLAUDE.md
Due: prettier --write

chore: add .prettierignore to exclude symlinks
  .prettierignore
Due: none

docs: add lint-staged stash recovery lesson to LESSONS_LEARNED
  docs/dev/LESSONS_LEARNED.md
Due: prettier --write

chore: strengthen git hooks and prettierignore
  .husky/pre-push
  .prettierignore
  package.json
Due: prettier --write

docs: archive stale docs, update README for v3.0.0 API
  README.md
  docs/DOCS_MAP.md
  docs/NEXT_PRIORITIES_2025-10-16.md
  docs/OMNIFOCUS_4.7_UPGRADE_COMPLETE.md
  docs/OMNIFOCUS_4.7_UPGRADE_PLAN.md
  docs/plans/2025-10-16-omnifocus-4.7-upgrade.md
Due: prettier --write

feat: add OmniFocus 4.7+ API features (effectivePlannedDate, project plannedDate)
  src/contracts/ast/mutation-script-builder.ts
  src/contracts/ast/script-builder.ts
  src/contracts/mutations.ts
  src/contracts/responses.ts
  src/omnifocus/scripts/cache/warm-projects-cache.ts
  src/omnifocus/scripts/export/export-projects.ts
  src/omnifocus/scripts/projects/get-project-stats.ts
Due: prettier --write, eslint --fix

fix: use OmniJS bridge for Project.Status in batch operations
  src/contracts/ast/mutation-script-builder.ts
Due: prettier --write, eslint --fix

chore: add .mcp.json to gitignore
  .gitignore
Due: none

docs: deduplicate CLAUDE.md prose, rely on DOT workflows
  .claude/processes/CLAUDE-PROCESSES.dot
  CLAUDE.md
Due: prettier --write

docs: clarify intentional dual naming for includeCompleted
  src/contracts/filters.ts
Due: prettier --write, eslint --fix

chore: consolidate testing prompts and archive historical docs
  AFTER-ACTION-REPORT-PLANNED-DATE.md
  CHECKPOINT-ISSUE-27-PLANNED-DATE.md
  CHECKPOINT-ISSUE-27.md
  CHECKPOINT_2025-11-05.md
  CHECKPOINT_2025-11-06.md
  CHECKPOINT_PR28_CODE_REVIEW.md
  CODE_STANDARDS_IMPROVEMENT.md
  CONSOLIDATION_ROADMAP.md
  CONTINUATION-SESSION-ID-BUG-FIX.md
  CONVERSATION_SAVE_2025-12-15.md
  EVALUATION_COMPLETE.md
  EVALUATION_UPDATE_SUMMARY.md
  FINAL-SESSION-SUMMARY-ISSUE-27.md
  FOR_USER_TESTING.md
  MCP_BUILDER_EVALUATION.md
  MCP_IMPROVEMENTS_CHECKLIST.md
  PR_DESCRIPTION.md
  QUICK_START_TESTING.md
  SCRIPT_ANALYSIS_README.md
  SCRIPT_DEPENDENCIES.md
  SCRIPT_INVENTORY.md
  SCRIPT_QUICK_REFERENCE.md
  TESTING_PROMPT.md
  TESTING_PROMPT_LIGHTWEIGHT.md
  USER_TESTING_INSTRUCTIONS.md
Due: prettier --write

docs: update AGENTS.md for v3.0.0 unified API
  AGENTS.md
Due: prettier --write

fix: use pure JXA for count-only queries (40x faster, no timeout)
  KNOWN_ISSUES.md
  src/contracts/ast/script-builder.ts
Due: prettier --write, eslint --fix

test: update count-only test to accept pure_jxa optimization
  tests/integration/tools/unified/end-to-end.test.ts
Due: prettier --write, eslint --fix

fix: add plannedDate support to task update operation
  src/tools/tasks/ManageTaskTool.ts
Due: prettier --write, eslint --fix

fix: add repetitionRule support to task update operation
  src/tools/tasks/ManageTaskTool.ts
Due: prettier --write, eslint --fix

chore: complete legacy version code cleanup for OmniFocus 4.7+ requirement
  docs/IMPROVEMENT_ROADMAP.md
  src/omnifocus/api/README.md
  src/tools/schemas/repeat-schemas.ts
Due: prettier --write, eslint --fix

fix(ast): text search matches both name AND note, date operators respected
  src/contracts/ast/builder.ts
  src/contracts/filters.ts
  tests/unit/contracts/ast/builder.test.ts
Due: prettier --write, eslint --fix

fix(eslint): include tsconfig.test.json for type-aware test linting
  .eslintrc.json
  eslint.config.js
Due: prettier --write, eslint --fix

docs: update IMPROVEMENT_ROADMAP with January 2026 fixes
  docs/IMPROVEMENT_ROADMAP.md
Due: prettier --write

fix: remove hardcoded /Users/kip paths from codebase
  .claude/agents/jxa-omnifocus-expert.md
  .gitignore
  KNOWN_ISSUES.md
  docs/dev/integration-test-timing-baseline.json
  docs/evaluation/RUNNING_EVALUATIONS.md
  docs/plans/PLAN_STATUS_SUMMARY.md
  docs/plans/README-MULTI-MACHINE-SYNC.md
  logs/unit.after-v2-crud.txt
  logs/unit.all.final.txt
  logs/unit.coverage.safe.txt
  logs/unit.coverage.txt
  logs/unit.final.allv2.txt
  logs/unit.final.txt
  logs/unit.final2.txt
  logs/unit.full.txt
  logs/unit.full.v2-migration.txt
  logs/unit.full.v2.final.txt
  logs/unit.migration-final.txt
  logs/unit.safe.txt
  mcp-config.json
  scripts/diagnose-benchmark-environment.ts
  tests/integration/test-workflow-analysis-performance.ts
  tsconfig.test.json
Due: prettier --write, eslint --fix

docs: update PLAN_STATUS_SUMMARY with completed AST consolidation
  docs/plans/PLAN_STATUS_SUMMARY.md
Due: prettier --write

chore: archive completed plans and historical Oct 2025 docs
  .archive/dev-historical-oct-2025/BENCHMARK-ANALYSIS-OCT-2025.md
  .archive/dev-historical-oct-2025/BRANCH-SUMMARY-profiling-benchmarking.md
  .archive/dev-historical-oct-2025/CHECKPOINT-ADDED-DATE-FIELDS-OCT-2025.md
  .archive/dev-historical-oct-2025/CHECKPOINT-OMNIJS-V3-BREAKTHROUGH.md
  .archive/dev-historical-oct-2025/PERFORMANCE_M4PRO_2025-10-20.md
  .archive/dev-historical-oct-2025/PERFORMANCE_M4_COMPARISON_2025-10-21.md
  .archive/dev-historical-oct-2025/SESSION-CHECKPOINT-OCT-2025.md
  .archive/plans-completed/2025-10-18-multi-machine-session-sync.md
  .archive/plans-completed/2025-10-29-lightweight-testing-strategy-design.md
  .archive/plans-completed/2025-11-06-phase1-script-consolidation.md
  .archive/plans-completed/2025-11-24-ast-consolidation-opportunities.md
  .archive/plans-completed/2025-11-24-querycompiler-taskfilter-implementation.md
  .archive/plans-completed/2025-11-24-querycompiler-taskfilter-integration.md
  .archive/plans-completed/2025-11-25-phase3-ast-extension-design.md
  docs/plans/PLAN_STATUS_SUMMARY.md
Due: prettier --write

docs: update API documentation for v3.0.0 unified 4-tool API
  .archive/api-v2-legacy/API-COMPACT.md
  .archive/api-v2-legacy/API-REFERENCE-LLM.md
  .archive/api-v2-legacy/API-REFERENCE-V2.md
  .archive/api-v2-legacy/API-REFERENCE.md
  .archive/api-v2-legacy/TOOLS.md
  docs/DOCS_MAP.md
  docs/api/API-COMPACT-UNIFIED.md
  docs/api/README.md
Due: prettier --write

docs: add slim gotchas prompt for LLM assistants (~250 tokens)
  prompts/OMNIFOCUS_GOTCHAS.md
Due: prettier --write

docs: recommend OMNIFOCUS_GOTCHAS.md over API reference for system prompts
  docs/api/API-COMPACT-UNIFIED.md
  docs/api/README.md
  prompts/README.md
Due: prettier --write

docs: update plan status and SDK version
  docs/dev/SDK_UPGRADE_RECOMMENDATION.md
  docs/plans/PLAN_STATUS_SUMMARY.md
Due: prettier --write

chore: archive 5 completed plan files
  docs/plans/2025-12-04-streamable-http-transport-design.md
  docs/plans/2025-12-11-test-sandbox-design.md
  docs/plans/2025-12-15-repetition-rule-investigation.md
  docs/plans/2025-12-18-future-consolidation-opportunities.md
  docs/plans/PLAN_STATUS_SUMMARY.md
  docs/plans/omnijs-migration-plan.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{ts,js}
