Repository kip-d/omnifocus-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs(api): TS1016 sites as a table, Settings not Preferences, accurate ci:local summary
  src/omnifocus/api/README.md
Due: prettier --write

docs(api): six review fixes — no claims ahead of the code, restored GUI fallback steps
  docs/AISLOP_EVALUATION.md
  src/omnifocus/api/README.md
Due: prettier --write

docs(api): regen checklist runs the integration suite; node on the probe is a silent no-op, not a failure
  src/omnifocus/api/README.md
Due: prettier --write

chore: update OmniFocus API definitions to 4.9 (getTypeScriptDeclarations export) (#273)
  docs/AISLOP_EVALUATION.md
  src/omnifocus/api/OmniFocus-4.8.6-d.ts
  src/omnifocus/api/OmniFocus-4.9-d.ts
  src/omnifocus/api/OmniFocus.d.ts
  src/omnifocus/api/README.md
Due: prettier --write, eslint --fix

fix(OMN-326): step 8 trusts verify-deploy's exit code and shows its stderr; summary matches
  scripts/ci-local.sh
Due: none

fix(OMN-326): step 8 checks the tool envelope, matches sibling timeout, wraps startup
  scripts/ci-local.sh
Due: none

fix(OMN-326): distinguish the outer-timeout kill; drop the unset ERROR_COUNT; trim step-7 note
  scripts/ci-local.sh
Due: none

fix(OMN-326): ci-local step 8 drives the server via verify-deploy, not a one-shot pipe (#276)
  scripts/ci-local.sh
Due: none

docs: add AUDIT.md tracker from the 2026-09-25 code audit
  AUDIT.md
Due: prettier --write

chore: prettier-ignore local-only .claude/skills/
  .prettierignore
Due: none

fix(OMN-329): reject unrecognized values in coerceBoolean/coerceNumber
  src/tools/schemas/coercion-helpers.ts
  src/tools/unified/schemas/read-schema.ts
  tests/unit/tools/schemas/coercion-helpers.test.ts
Due: prettier --write, eslint --fix

docs(OMN-329): check off audit item #1
  AUDIT.md
Due: prettier --write

fix(OMN-329): reject unrecognized values in coerceBoolean/coerceNumber (#277)
  AUDIT.md
  src/tools/schemas/coercion-helpers.ts
  src/tools/unified/schemas/read-schema.ts
  tests/unit/tools/schemas/coercion-helpers.test.ts
Due: prettier --write, eslint --fix

fix(OMN-330): keep the requested task mode when the filter targets the inbox
  src/tools/unified/OmniFocusReadTool.ts
  tests/unit/tools/unified/OmniFocusReadTool.test.ts
Due: prettier --write, eslint --fix

docs(OMN-330): check off audit item #2
  AUDIT.md
Due: prettier --write

fix(OMN-330): thread dueSoonDays into the inbox script's reason projection
  src/contracts/ast/script-builder.ts
  src/tools/unified/OmniFocusReadTool.ts
  tests/unit/tools/unified/OmniFocusReadTool.test.ts
Due: prettier --write, eslint --fix

refactor(OMN-330): one definition each for the inbox route and list projection
  src/contracts/ast/script-builder.ts
  src/omnifocus/scripts/tasks.ts
  src/omnifocus/scripts/tasks/list-tasks-ast.ts
  src/tools/unified/OmniFocusReadTool.ts
  tests/unit/omnifocus/scripts/list-tasks-ast.test.ts
  tests/unit/tools/unified/OmniFocusReadTool.test.ts
Due: prettier --write, eslint --fix

fix(OMN-330): keep the requested task mode when the filter targets the inbox (#278)
  AUDIT.md
  src/contracts/ast/script-builder.ts
  src/omnifocus/scripts/tasks.ts
  src/omnifocus/scripts/tasks/list-tasks-ast.ts
  src/tools/unified/OmniFocusReadTool.ts
  tests/unit/omnifocus/scripts/list-tasks-ast.test.ts
  tests/unit/tools/unified/OmniFocusReadTool.test.ts
Due: prettier --write, eslint --fix

fix(OMN-331): emit a predicate for project id filters
  src/contracts/ast/filter-generator.ts
  tests/unit/contracts/ast/filter-generator.test.ts
  tests/unit/tools/unified/OmniFocusReadTool.test.ts
Due: prettier --write, eslint --fix

docs(OMN-331): check off audit item #3
  AUDIT.md
Due: prettier --write

fix(OMN-331): reject blank ids and id combined with top-level OR/NOT
  src/contracts/ast/filter-generator.ts
  src/tools/unified/compilers/transform-project-filters.ts
  tests/unit/contracts/ast/filter-generator.test.ts
  tests/unit/tools/unified/compilers/transform-project-filters.test.ts
Due: prettier --write, eslint --fix

fix(OMN-331): emit a predicate for project id filters (#279)
  AUDIT.md
  src/contracts/ast/filter-generator.ts
  src/tools/unified/compilers/transform-project-filters.ts
  tests/unit/contracts/ast/filter-generator.test.ts
  tests/unit/tools/unified/OmniFocusReadTool.test.ts
  tests/unit/tools/unified/compilers/transform-project-filters.test.ts
Due: prettier --write, eslint --fix

fix(OMN-332): read date filters use local whole days and are never spliced raw
  src/contracts/ast/emitters/omnijs.ts
  src/tools/unified/OmniFocusReadTool.ts
  src/tools/unified/compilers/QueryCompiler.ts
  src/tools/unified/schemas/read-schema.ts
  src/utils/timezone.ts
  tests/unit/contracts/ast/emitters/omnijs.test.ts
  tests/unit/contracts/ast/filter-coverage.test.ts
  tests/unit/local-date-bounds.test.ts
  tests/unit/tools/unified/compilers/QueryCompiler.test.ts
Due: prettier --write, eslint --fix

docs(OMN-332): check off audit items #4 and #7
  AUDIT.md
Due: prettier --write

fix(OMN-332): describe date bounds in local time, not raw UTC
  src/contracts/ast/filter-generator.ts
  src/contracts/ast/script-builder.ts
  src/utils/timezone.ts
  tests/unit/contracts/ast/describe-filter-coverage.test.ts
  tests/unit/contracts/ast/filter-coverage.test.ts
  tests/unit/helpers/local-day.ts
  tests/unit/local-date-bounds.test.ts
  tests/unit/tools/unified/compilers/QueryCompiler.test.ts
Due: prettier --write, eslint --fix

test(OMN-332): live-bridge integration test + review round 2 follow-ups
  src/tools/unified/OmniFocusReadTool.ts
  src/tools/unified/schemas/analyze-schema.ts
  src/tools/unified/schemas/write-schema.ts
  src/utils/timezone.ts
  tests/integration/omn-332-local-date-filters.test.ts
  tests/unit/contracts/ast/describe-filter-coverage.test.ts
  tests/unit/local-date-bounds.test.ts
Due: prettier --write, eslint --fix

fix(OMN-332): read date filters use local whole days and are never spliced raw (#280)
  AUDIT.md
  src/contracts/ast/emitters/omnijs.ts
  src/contracts/ast/filter-generator.ts
  src/contracts/ast/script-builder.ts
  src/tools/unified/OmniFocusReadTool.ts
  src/tools/unified/compilers/QueryCompiler.ts
  src/tools/unified/schemas/analyze-schema.ts
  src/tools/unified/schemas/read-schema.ts
  src/tools/unified/schemas/write-schema.ts
  src/utils/timezone.ts
  tests/integration/omn-332-local-date-filters.test.ts
  tests/unit/contracts/ast/describe-filter-coverage.test.ts
  tests/unit/contracts/ast/emitters/omnijs.test.ts
  tests/unit/contracts/ast/filter-coverage.test.ts
  tests/unit/helpers/local-day.ts
  tests/unit/local-date-bounds.test.ts
  tests/unit/tools/unified/compilers/QueryCompiler.test.ts
Due: prettier --write, eslint --fix

fix(OMN-334): task_velocity dateRange is validated and never spliced raw; buildScript keeps $ literal
  src/omnifocus/OmniAutomation.ts
  src/omnifocus/scripts/analytics/task-velocity-v3.ts
  src/tools/unified/OmniFocusAnalyzeTool.ts
  src/tools/unified/schemas/analyze-schema.ts
  tests/unit/edge-case-escaping.test.ts
  tests/unit/omnifocus/scripts/analytics/task-velocity-daterange.test.ts
  tests/unit/tools/unified/OmniFocusAnalyzeTool.test.ts
  tests/unit/tools/unified/schemas/analyze-schema.test.ts
Due: prettier --write, eslint --fix

fix(OMN-334): address /code-review of #281
  src/tools/unified/OmniFocusAnalyzeTool.ts
  src/tools/unified/schemas/analyze-schema.ts
  src/utils/timezone.ts
  tests/unit/local-date-bounds.test.ts
  tests/unit/tools/unified/OmniFocusAnalyzeTool.test.ts
  tests/unit/tools/unified/schemas/analyze-schema.test.ts
Due: prettier --write, eslint --fix

fix(OMN-334): address second /code-review of #281
  src/omnifocus/scripts/analytics/task-velocity-v3.ts
  src/tools/unified/OmniFocusAnalyzeTool.ts
  tests/unit/tools/unified/OmniFocusAnalyzeTool.test.ts
Due: prettier --write, eslint --fix

fix(OMN-334): address third /code-review of #281
  src/omnifocus/OmniAutomation.ts
  src/omnifocus/scripts/analytics/task-velocity-v3.ts
  tests/unit/edge-case-escaping.test.ts
  tests/unit/omnifocus/scripts/analytics/task-velocity-daterange.test.ts
Due: prettier --write, eslint --fix

fix(OMN-334): task_velocity dateRange is validated and never spliced raw; buildScript keeps $ literal (#281)
  src/omnifocus/OmniAutomation.ts
  src/omnifocus/scripts/analytics/task-velocity-v3.ts
  src/tools/unified/OmniFocusAnalyzeTool.ts
  src/tools/unified/schemas/analyze-schema.ts
  src/utils/timezone.ts
  tests/unit/edge-case-escaping.test.ts
  tests/unit/local-date-bounds.test.ts
  tests/unit/omnifocus/scripts/analytics/task-velocity-daterange.test.ts
  tests/unit/tools/unified/OmniFocusAnalyzeTool.test.ts
  tests/unit/tools/unified/schemas/analyze-schema.test.ts
Due: prettier --write, eslint --fix

docs(audit): tick #6 and #43 (OMN-334, #281)
  AUDIT.md
Due: prettier --write

fix(OMN-333): a batch op whose handler returns an error is a batch failure
  src/tools/unified/OmniFocusWriteTool.ts
  src/tools/unified/batch-response-flatten.ts
  tests/unit/tools/unified/OmniFocusWriteTool.test.ts
  tests/unit/tools/unified/batch-response-shape.test.ts
Due: prettier --write, eslint --fix

fix(OMN-333): address /code-review of #282
  src/tools/unified/OmniFocusWriteTool.ts
  src/tools/unified/batch-response-flatten.ts
  tests/unit/tools/unified/OmniFocusWriteTool.test.ts
  tests/unit/tools/unified/batch-response-shape.test.ts
Due: prettier --write, eslint --fix

fix(OMN-333): address second /code-review of #282
  src/tools/unified/OmniFocusWriteTool.ts
  tests/unit/tools/unified/OmniFocusWriteTool.test.ts
Due: prettier --write, eslint --fix

fix(OMN-333): a batch op whose handler returns an error is a batch failure (#282)
  src/tools/unified/OmniFocusWriteTool.ts
  src/tools/unified/batch-response-flatten.ts
  tests/unit/tools/unified/OmniFocusWriteTool.test.ts
  tests/unit/tools/unified/batch-response-shape.test.ts
Due: prettier --write, eslint --fix

docs(audit): tick #5 (OMN-333, #282); status notes on #19 and #26
  AUDIT.md
Due: prettier --write

fix(OMN-344): tag merge refuses self-merge and merge-into-descendant
  src/contracts/ast/mutation/defs.ts
  src/tools/unified/OmniFocusWriteTool.ts
  tests/integration/tools/unified/tag-paths.test.ts
  tests/unit/contracts/ast/mutation/tag-lifecycle.test.ts
  tests/unit/tools/unified/OmniFocusWriteTool.test.ts
Due: prettier --write, eslint --fix

fix(OMN-345): batch resolves tempIds under returnMapping:false; rollback deletes children first
  src/tools/unified/OmniFocusWriteTool.ts
  src/tools/unified/utils/tempid-resolver.ts
  tests/integration/batch-operations.test.ts
  tests/unit/tools/unified/OmniFocusWriteTool.test.ts
  tests/unit/tools/unified/utils/tempid-resolver.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md,yml,yaml})
  eslint --fix: any of: *.{ts,js}
