Repository kip-d/omnifocus-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

fix(OMN-310): address /code-review round-2 findings
  src/contracts/ast/script-builder.ts
  src/contracts/ast/tag-script-builder.ts
  src/tools/unified/OmniFocusReadTool.ts
  tests/unit/tools/unified/omn-310-tags-folders-pagination.test.ts
Due: prettier --write, eslint --fix

fix(OMN-311): treat sort: [] as absent on every query type (review r2)
  src/tools/unified/schemas/read-schema.ts
  tests/unit/tools/unified/omn-311-projects-sort.test.ts
Due: prettier --write, eslint --fix

fix(OMN-310): unused describe.each param fails typecheck:test in CI
  tests/integration/omn-310-tags-folders-pagination.test.ts
Due: prettier --write, eslint --fix

fix(OMN-311): normalize sort: [] before the cache key (review r3)
  src/tools/unified/OmniFocusReadTool.ts
  tests/unit/tools/unified/omn-311-projects-sort.test.ts
Due: prettier --write, eslint --fix

fix(OMN-310): countOnly emits no projection at all (review r4)
  src/contracts/ast/script-builder.ts
  tests/unit/tools/unified/omn-310-tags-folders-pagination.test.ts
Due: prettier --write, eslint --fix

fix(OMN-311): reject duplicate sort fields on projects (review r4)
  src/tools/unified/schemas/read-schema.ts
  tests/unit/tools/unified/omn-311-projects-sort.test.ts
Due: prettier --write, eslint --fix

fix(OMN-310): tags/folders queries silently dropped limit AND offset (#264)
  src/contracts/ast/script-builder.ts
  src/contracts/ast/tag-script-builder.ts
  src/contracts/tag-options.ts
  src/tools/unified/OmniFocusReadTool.ts
  src/utils/response-format.ts
  tests/integration/omn-310-tags-folders-pagination.test.ts
  tests/unit/contracts/ast/folder-builders.test.ts
  tests/unit/tools/unified/omn-310-tags-folders-pagination.test.ts
Due: prettier --write, eslint --fix

feat(OMN-311): projects sort implemented; sort rejected loudly where unsupported (#265)
  src/contracts/ast/script-builder.ts
  src/omnifocus/response-schemas/read.ts
  src/tools/unified/OmniFocusReadTool.ts
  src/tools/unified/schemas/read-schema.ts
  tests/integration/omn-311-projects-sort.test.ts
  tests/unit/tools/unified/omn-311-projects-sort.test.ts
Due: prettier --write, eslint --fix

docs(OMN-313, OMN-314): implementation plan for the guided-decision review layer, slices 1-2
  docs/superpowers/plans/2026-08-30-omn-313-314-guided-review.md
Due: prettier --write

docs(OMN-313): guided-review skill reference — one decision at a time
  docs/skills/omnifocus-assistant/references/workflow-guided-review.md
Due: prettier --write

docs(OMN-313): route 'guided review' requests to the new reference
  docs/skills/omnifocus-assistant/SKILL.md
Due: prettier --write

feat(OMN-313): guided_review MCP prompt — one decision at a time over existing detectors
  src/prompts/gtd/GuidedReviewPrompt.ts
  src/prompts/index.ts
  src/prompts/reference/QuickReferencePrompt.ts
  tests/unit/prompts/GuidedReviewPrompt.test.ts
Due: prettier --write, eslint --fix

fix(OMN-313): guided_review — InvalidParams for bad mode, detector-split test, parseMode cleanup
  src/prompts/base.ts
  src/prompts/gtd/GuidedReviewPrompt.ts
  src/prompts/index.ts
  tests/unit/prompts/GuidedReviewPrompt.test.ts
Due: prettier --write, eslint --fix

docs(OMN-313): changelog
  CHANGELOG.md
Due: prettier --write

feat(OMN-314): guided-review push — queue, inbox-item text, create-vs-update (pure functions, TDD)
  scripts/ops/guided-review-push.ts
  tests/unit/scripts/guided-review-push.test.ts
Due: prettier --write, eslint --fix

feat(OMN-314): guided-review push driver — list_for_review + pattern_analysis → idempotent inbox item
  scripts/ops/guided-review-push.ts
  tests/unit/scripts/guided-review-push.test.ts
Due: prettier --write, eslint --fix

feat(OMN-314): launchd wrapper for the guided-review push (pgrep fail-safe, bounded run)
  scripts/ops/of-mcp-guided-review
Due: none

feat(OMN-314): launchd plist (Mon–Sat 07:00) + installer for the guided-review push
  scripts/ops/com.omnifocus-mcp.guided-review.plist.template
  scripts/ops/install-guided-review-schedule.sh
Due: none

fix(OMN-314): installer --verify matches the wrapper's STATUS line; prefix env baked into the plist; message fixes
  scripts/ops/com.omnifocus-mcp.guided-review.plist.template
  scripts/ops/install-guided-review-schedule.sh
Due: none

fix(OMN-314): guided-review push — loud on malformed responses, prefix-override test, readability
  scripts/ops/guided-review-push.ts
  tests/unit/scripts/guided-review-push.test.ts
Due: prettier --write, eslint --fix

docs(OMN-314): guided-review push runbook, script index rows, changelog
  CHANGELOG.md
  docs/dev/guided-review-push.md
  scripts/README.md
Due: prettier --write

fix(OMN-314): every capped detector renders as a floor, not just deadline_health
  scripts/ops/guided-review-push.ts
  tests/unit/scripts/guided-review-push.test.ts
Due: prettier --write, eslint --fix

fix(OMN-314): wrapper classifies an AppleEvent wedge as WEDGED, not FAILED
  docs/dev/guided-review-push.md
  scripts/ops/of-mcp-guided-review
Due: prettier --write

fix(OMN-314): warn loudly when more than one open Review item exists
  scripts/ops/guided-review-push.ts
  tests/unit/scripts/guided-review-push.test.ts
Due: prettier --write, eslint --fix

fix(OMN-313): high-gate cleanups — README prompt listing, drop hardcoded count, errorCode on PromptArgumentError, test merge, parseMode nit
  src/prompts/README.md
  src/prompts/base.ts
  src/prompts/gtd/GuidedReviewPrompt.ts
  src/prompts/index.ts
  src/prompts/reference/QuickReferencePrompt.ts
  tests/unit/prompts/GuidedReviewPrompt.test.ts
Due: prettier --write, eslint --fix

fix(OMN-313): re-gate round 2 — honest changelog claim; export KNOWN_PATTERNS + detector-vocabulary drift-guard test
  CHANGELOG.md
  src/tools/unified/OmniFocusAnalyzeTool.ts
  tests/unit/prompts/GuidedReviewPrompt.test.ts
Due: prettier --write, eslint --fix

feat(OMN-313): guided_review prompt + skill reference (one decision at a time) (#266)
  CHANGELOG.md
  docs/skills/omnifocus-assistant/SKILL.md
  docs/skills/omnifocus-assistant/references/workflow-guided-review.md
  docs/superpowers/plans/2026-08-30-omn-313-314-guided-review.md
  src/prompts/README.md
  src/prompts/base.ts
  src/prompts/gtd/GuidedReviewPrompt.ts
  src/prompts/index.ts
  src/prompts/reference/QuickReferencePrompt.ts
  src/tools/unified/OmniFocusAnalyzeTool.ts
  tests/unit/prompts/GuidedReviewPrompt.test.ts
Due: prettier --write, eslint --fix

fix(OMN-314): push script — truncation guard, fast init timeout, stderr tail
  scripts/ops/guided-review-push.ts
  tests/unit/scripts/guided-review-push.test.ts
Due: prettier --write, eslint --fix

fix(OMN-314): installer/wrapper — bake run timeout into plist, escape all sed substitutions, drop inert LEAK block, force-fallback hook
  docs/dev/guided-review-push.md
  scripts/ops/com.omnifocus-mcp.guided-review.plist.template
  scripts/ops/install-guided-review-schedule.sh
  scripts/ops/of-mcp-guided-review
Due: prettier --write

fix(OMN-314): re-gate round 2 — deep-mode deadline total, per-key presence guard, inbox list guard, concurrent reads
  docs/dev/guided-review-push.md
  scripts/ops/guided-review-push.ts
  tests/unit/scripts/guided-review-push.test.ts
Due: prettier --write, eslint --fix

fix(OMN-314): wrapper distinguishes SKIPPED from WEDGED when OmniFocus quits mid-preflight
  docs/dev/guided-review-push.md
  scripts/ops/of-mcp-guided-review
Due: prettier --write

fix(OMN-314): re-gate round 3 — missing metadata throws, base-10 timeout validation, correct stale buildId path
  scripts/ops/guided-review-push.ts
  scripts/ops/install-guided-review-schedule.sh
  tests/unit/scripts/guided-review-push.test.ts
Due: prettier --write, eslint --fix

feat(OMN-314): guided-review inbox push (launchd → one idempotent OF inbox item) (#267)
  CHANGELOG.md
  docs/dev/guided-review-push.md
  scripts/README.md
  scripts/ops/com.omnifocus-mcp.guided-review.plist.template
  scripts/ops/guided-review-push.ts
  scripts/ops/install-guided-review-schedule.sh
  scripts/ops/of-mcp-guided-review
  tests/unit/scripts/guided-review-push.test.ts
Due: prettier --write, eslint --fix

fix(OMN-320): guided-review-push — sequential list_for_review/pattern_analysis reads
  docs/dev/guided-review-push.md
  scripts/ops/guided-review-push.ts
Due: prettier --write, eslint --fix

fix(OMN-320): re-gate — bridge terminology, dedupe forensic narrative, regression test for sequential ordering
  docs/dev/guided-review-push.md
  scripts/ops/guided-review-push.ts
  tests/unit/scripts/guided-review-push.test.ts
Due: prettier --write, eslint --fix

fix(OMN-320): guided-review-push — sequential reads, not concurrent (#268)
  docs/dev/guided-review-push.md
  scripts/ops/guided-review-push.ts
  tests/unit/scripts/guided-review-push.test.ts
Due: prettier --write, eslint --fix

docs(OMN-315): implementation plan for onhold_reactivation + sequential_blocked_far detectors
  docs/superpowers/plans/2026-08-31-omn-315-onhold-sequential-detectors.md
Due: prettier --write

feat(OMN-315): add sequential field to the project scan (SlimProjectSchema + OmniJS emitter)
  src/omnifocus/response-schemas/read.ts
  src/tools/unified/OmniFocusAnalyzeTool.ts
  tests/unit/tools/unified/OmniFocusAnalyzeTool.test.ts
Due: prettier --write, eslint --fix

test(OMN-315): direct SlimmedDataSchema test — the mocked fetchSlimmedData test can't exercise .strict()
  tests/unit/omnifocus/script-response-schemas.test.ts
Due: prettier --write, eslint --fix

docs(OMN-315): tighten the sequential-field comment per code review
  src/omnifocus/response-schemas/read.ts
Due: prettier --write, eslint --fix
