Repository kip-d/omnifocus-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

fix: sort before limit in task queries (Bug 4)
  src/contracts/ast/script-builder.ts
  src/omnifocus/scripts/tasks/list-tasks-ast.ts
  src/tools/unified/OmniFocusReadTool.ts
  src/tools/unified/compilers/QueryCompiler.ts
  tests/unit/contracts/ast/script-builder.test.ts
  tests/unit/tools/unified/OmniFocusReadTool.test.ts
Due: prettier --write, eslint --fix

fix: resolve z.lazy() schemas to object types in MCP tool advertisement
  src/tools/base.ts
  tests/unit/tools/base.test.ts
Due: prettier --write, eslint --fix

fix: use type guard for ZodLazy narrowing to eliminate lint warnings
  src/tools/base.ts
Due: prettier --write, eslint --fix

docs: audit and update omnifocus-assistant skill for post-bug-fix API changes
  .claude/skills/omnifocus-assistant/SKILL.md
Due: prettier --write

fix: add repetitionRule to update schema and string coercion to interval
  src/tools/unified/schemas/write-schema.ts
  tests/unit/tools/unified/schemas/write-schema.test.ts
Due: prettier --write, eslint --fix

fix: close 5 schema-to-implementation wiring gaps in write pipeline
  src/contracts/ast/mutation-script-builder.ts
  src/tools/unified/OmniFocusWriteTool.ts
  src/tools/unified/schemas/write-schema.ts
  tests/unit/contracts/ast/mutation-script-builder.test.ts
  tests/unit/tools/unified/schemas/write-schema.test.ts
Due: prettier --write, eslint --fix

fix: close 7 write-pipeline layer gaps (round 2)
  src/contracts/ast/mutation-script-builder.ts
  src/contracts/mutations.ts
  src/omnifocus/script-response-types.ts
  src/tools/schemas/repeat-schemas.ts
  src/tools/unified/OmniFocusWriteTool.ts
  src/tools/unified/compilers/MutationCompiler.ts
  src/tools/unified/schemas/write-schema.ts
  src/tools/unified/utils/task-sanitizer.ts
  tests/unit/contracts/ast/mutation-script-builder.test.ts
  tests/unit/tools/batch/batch-mixed-operations.test.ts
  tests/unit/tools/schemas/repeat-schemas-v2.test.ts
  tests/unit/tools/unified/schemas/write-schema.test.ts
  tests/unit/tools/unified/utils/task-sanitizer.test.ts
Due: prettier --write, eslint --fix

fix: update integration test daysOfWeek from number[] to DayOfWeek[]
  tests/integration/tools/unified/end-to-end.test.ts
Due: prettier --write, eslint --fix

fix: replace omnifocus_read 3.2MB JSON Schema with hand-crafted minimal version
  src/tools/unified/OmniFocusReadTool.ts
  tests/unit/tools/base.test.ts
Due: prettier --write, eslint --fix

fix: hand-craft omnifocus_write schema and add schema size regression guard
  .claude/skills/omnifocus-assistant/SKILL.md
  src/tools/unified/OmniFocusWriteTool.ts
  tests/unit/tools/base.test.ts
  tests/unit/tools/unified/OmniFocusWriteTool.test.ts
Due: prettier --write, eslint --fix

fix: remove z.lazy() recursion from FilterSchema
  src/tools/unified/OmniFocusReadTool.ts
  src/tools/unified/compilers/QueryCompiler.ts
  src/tools/unified/schemas/read-schema.ts
  tests/unit/tools/unified/schemas/read-schema.test.ts
Due: prettier --write, eslint --fix

docs: trim omnifocus-assistant skill and fix logical operator examples
  .claude/skills/omnifocus-assistant/SKILL.md
Due: prettier --write

fix: use deleteObject() instead of item.remove() in OmniJS delete scripts
  src/contracts/ast/mutation-script-builder.ts
  tests/integration/helpers/sandbox-manager.ts
  tests/unit/contracts/ast/mutation-script-builder.test.ts
Due: prettier --write, eslint --fix

refactor: remove redundant data.preview from read query responses
  src/tools/response-types-v2.ts
  src/tools/unified/OmniFocusReadTool.ts
  src/utils/response-format.ts
  tests/integration/test-v2-tools.js
  tests/unit/tools/unified/project-field-projection.test.ts
  tests/unit/utils/response-format-utilities.test.ts
Due: prettier --write, eslint --fix

refactor: flatten batch write response to single metadata envelope
  src/tools/unified/OmniFocusWriteTool.ts
  src/tools/unified/batch-response-flatten.ts
  src/tools/unified/compilers/MutationCompiler.ts
  src/tools/unified/schemas/write-schema.ts
  tests/integration/batch-operations.test.ts
  tests/unit/tools/unified/batch-response-shape.test.ts
Due: prettier --write, eslint --fix

refactor: move omnifocus-assistant skill to user-level with symlink
  CLAUDE.md
  README.md
  docs/skills/omnifocus-assistant/SKILL.md
  docs/user/GETTING_STARTED.md
Due: prettier --write

fix: exclude worktree directories from vitest test discovery
  .eslintignore
  eslint.config.js
  vitest.config.ts
Due: prettier --write, eslint --fix

chore: remove stale .eslintignore (flat config uses eslint.config.js)
  .eslintignore
Due: none

chore: sync package-lock.json with 4.0.0 version bump
  package-lock.json
Due: prettier --write

docs: add clean-room reimplementation design spec
  docs/plans/2026-02-28-clean-room-reimplementation-design.md
Due: prettier --write

docs: add clean-room implementation plan (13 tasks, 7 phases)
  docs/plans/2026-02-28-clean-room-implementation-plan.md
Due: prettier --write

feat: scaffold monorepo with cli and mcp-server packages
  eslint.config.js
  omnifocus-tools/.gitignore
  omnifocus-tools/package-lock.json
  omnifocus-tools/package.json
  omnifocus-tools/packages/cli/package.json
  omnifocus-tools/packages/cli/src/index.ts
  omnifocus-tools/packages/cli/tsconfig.json
  omnifocus-tools/packages/mcp-server/package.json
  omnifocus-tools/packages/mcp-server/src/index.ts
  omnifocus-tools/packages/mcp-server/tsconfig.json
  omnifocus-tools/tsconfig.base.json
  omnifocus-tools/vitest.config.ts
Due: prettier --write, eslint --fix

fix: make typecheck script work without root tsconfig
  omnifocus-tools/package.json
Due: prettier --write

feat: add ScriptBuilder with JXA/OmniJS execution strategy matrix
  omnifocus-tools/packages/cli/src/scripts/script-builder.ts
  omnifocus-tools/packages/cli/src/scripts/types.ts
  omnifocus-tools/packages/cli/tests/unit/scripts/script-builder.test.ts
Due: prettier --write, eslint --fix

fix: eliminate string concatenation in bridge sub-scripts, use BP injection
  omnifocus-tools/packages/cli/src/scripts/script-builder.ts
  omnifocus-tools/packages/cli/tests/unit/scripts/script-builder.test.ts
Due: prettier --write, eslint --fix

feat: add ScriptExecutor for running JXA scripts via osascript
  omnifocus-tools/packages/cli/src/scripts/executor.ts
  omnifocus-tools/packages/cli/tests/integration/scripts/executor.test.ts
  omnifocus-tools/packages/cli/tests/unit/scripts/executor.test.ts
Due: prettier --write, eslint --fix

feat: add date parsing and file-based TTL cache utilities
  omnifocus-tools/packages/cli/src/cache/file-cache.ts
  omnifocus-tools/packages/cli/src/utils/dates.ts
  omnifocus-tools/packages/cli/tests/unit/cache/file-cache.test.ts
  omnifocus-tools/packages/cli/tests/unit/utils/dates.test.ts
Due: prettier --write, eslint --fix

feat: add output formatter and CLI global options
  omnifocus-tools/packages/cli/src/index.ts
  omnifocus-tools/packages/cli/src/output/formatter.ts
  omnifocus-tools/packages/cli/tests/unit/output/formatter.test.ts
Due: prettier --write, eslint --fix

feat: wire read commands into CLI (tasks, task, projects, tags, folders)
  omnifocus-tools/packages/cli/src/commands/folders.ts
  omnifocus-tools/packages/cli/src/commands/projects.ts
  omnifocus-tools/packages/cli/src/commands/tags.ts
  omnifocus-tools/packages/cli/src/commands/task.ts
  omnifocus-tools/packages/cli/src/commands/tasks.ts
  omnifocus-tools/packages/cli/src/index.ts
  omnifocus-tools/packages/cli/tests/integration/commands/read-commands.test.ts
Due: prettier --write, eslint --fix

feat: add GTD shortcut commands (inbox, today, overdue, flagged, upcoming, review, suggest)
  omnifocus-tools/packages/cli/src/commands/shortcuts.ts
  omnifocus-tools/packages/cli/src/index.ts
  omnifocus-tools/packages/cli/tests/integration/commands/shortcuts.test.ts
Due: prettier --write, eslint --fix

feat: implement CLI write commands (add, complete, update, delete)
  omnifocus-tools/packages/cli/src/commands/add.ts
  omnifocus-tools/packages/cli/src/commands/complete.ts
  omnifocus-tools/packages/cli/src/commands/delete.ts
  omnifocus-tools/packages/cli/src/commands/update.ts
  omnifocus-tools/packages/cli/src/index.ts
  omnifocus-tools/packages/cli/src/scripts/script-builder.ts
  omnifocus-tools/packages/cli/tests/integration/commands/write-commands.test.ts
  omnifocus-tools/packages/cli/tests/unit/scripts/script-builder.test.ts
Due: prettier --write, eslint --fix

feat: add analytics and system commands (stats, version, doctor, cache)
  omnifocus-tools/packages/cli/src/commands/stats.ts
  omnifocus-tools/packages/cli/src/commands/system.ts
  omnifocus-tools/packages/cli/src/index.ts
  omnifocus-tools/packages/cli/tests/integration/commands/analytics.test.ts
Due: prettier --write, eslint --fix

feat: implement thin MCP wrapper with 4 tools calling CLI binary
  omnifocus-tools/packages/mcp-server/src/cli-bridge.ts
  omnifocus-tools/packages/mcp-server/src/index.ts
  omnifocus-tools/packages/mcp-server/tests/unit/cli-bridge.test.ts
Due: prettier --write, eslint --fix

feat: add GTD Agent Skills (capture, clarify, review, engage, query, admin)
  omnifocus-tools/skills/omnifocus/SKILL.md
  omnifocus-tools/skills/omnifocus/skills/admin/SKILL.md
  omnifocus-tools/skills/omnifocus/skills/capture/SKILL.md
  omnifocus-tools/skills/omnifocus/skills/clarify/SKILL.md
  omnifocus-tools/skills/omnifocus/skills/engage/SKILL.md
  omnifocus-tools/skills/omnifocus/skills/query/SKILL.md
  omnifocus-tools/skills/omnifocus/skills/review/SKILL.md
Due: prettier --write

docs: add JXA/OmniJS execution strategy reference
  omnifocus-tools/docs/EXECUTION-STRATEGY.md
Due: prettier --write

feat: complete clean-room OmniFocus CLI + MCP server v0.1.0
  omnifocus-tools/README.md
Due: prettier --write

perf: skip completed tasks by default and break early on limit
  omnifocus-tools/packages/cli/src/commands/tasks.ts
  omnifocus-tools/packages/cli/src/scripts/script-builder.ts
  omnifocus-tools/packages/cli/src/scripts/types.ts
Due: prettier --write, eslint --fix

fix: add npm rebuild to build script so npx omnifocus works
  omnifocus-tools/README.md
  omnifocus-tools/package.json
Due: prettier --write

perf: switch all read/write scripts to OmniJS bridge (60s -> ~7s for task queries)
  omnifocus-tools/packages/cli/src/scripts/script-builder.ts
  omnifocus-tools/packages/cli/tests/unit/scripts/script-builder.test.ts
Due: prettier --write, eslint --fix

fix: serialize nested objects in text/csv/markdown formatters
  omnifocus-tools/packages/cli/src/output/formatter.ts
  omnifocus-tools/packages/cli/tests/unit/output/formatter.test.ts
Due: prettier --write, eslint --fix
