Repository kip-d/omnifocus-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

fix(skill): path-rot test for docs/skills/** + heading and rule cleanups
  docs/skills/omnifocus-assistant/SKILL.md
  docs/skills/omnifocus-assistant/references/advanced-queries.md
  docs/skills/omnifocus-assistant/references/gtd-methodology.md
  docs/skills/omnifocus-assistant/references/intent-to-tool-calls.md
  docs/skills/omnifocus-assistant/references/interpreting-results.md
  docs/skills/omnifocus-assistant/references/task-creation.md
  docs/skills/omnifocus-assistant/references/workflow-daily-planning.md
  docs/skills/omnifocus-assistant/references/workflow-engage.md
  docs/skills/omnifocus-assistant/references/workflow-process-inbox.md
  docs/skills/omnifocus-assistant/references/workflow-weekly-review.md
  tests/unit/docs/skill-reference-paths.test.ts
Due: prettier --write, eslint --fix

fix(skill): close routing gaps + share the path matcher, fix #anchor handling
  docs/skills/omnifocus-assistant/SKILL.md
  tests/unit/docs/claude-md-paths.test.ts
  tests/unit/docs/markdown-path-refs.ts
  tests/unit/docs/skill-reference-paths.test.ts
Due: prettier --write, eslint --fix

fix(test): productivity_stats 'month' assertion allows the midnight-anchor +1
  tests/unit/omnifocus/scripts/analytics/productivity-period.test.ts
Due: prettier --write, eslint --fix

fix(OMN-288): update AnalysisCompiler test to the shrunk scope surface
  tests/unit/tools/unified/compilers/AnalysisCompiler.test.ts
Due: prettier --write, eslint --fix

fix(OMN-291): make the deferral fixture floor to the day count it names
  tests/unit/omnifocus/scripts/analytics/workflow-deferral-screens.test.ts
Due: prettier --write, eslint --fix

fix(OMN-299): address /code-review — the sanity ceiling is 33, not 32
  tests/unit/omnifocus/scripts/analytics/productivity-period.test.ts
Due: prettier --write, eslint --fix

docs(OMN-299): correct the floor claim — 28 IS reachable
  tests/unit/omnifocus/scripts/analytics/productivity-period.test.ts
Due: prettier --write, eslint --fix

fix(OMN-299): productivity_stats 'month' assertion allows the midnight-anchor +1 (#256)
  tests/unit/omnifocus/scripts/analytics/productivity-period.test.ts
Due: prettier --write, eslint --fix

fix(OMN-292): sweep the rename into the integration suite
  tests/integration/validation/analytics-validation.test.ts
Due: prettier --write, eslint --fix

feat(OMN-292): rename productivity_stats.healthScore to completionPercent (#251)
  CHANGELOG.md
  src/tools/unified/OmniFocusAnalyzeTool.ts
  tests/integration/validation/analytics-validation.test.ts
  tests/unit/tools/unified/OmniFocusAnalyzeTool.test.ts
Due: prettier --write, eslint --fix

feat(OMN-288): shrink analyze scope/metrics surface to what is honored (#252)
  CHANGELOG.md
  src/omnifocus/scripts/analytics/analyze-overdue-v3.ts
  src/tools/unified/OmniFocusAnalyzeTool.ts
  src/tools/unified/schemas/analyze-schema.ts
  tests/unit/tools/unified/OmniFocusAnalyzeTool.test.ts
  tests/unit/tools/unified/compilers/AnalysisCompiler.test.ts
  tests/unit/tools/unified/schemas/analyze-schema.test.ts
Due: prettier --write, eslint --fix

feat(OMN-291): demote workflow_analysis to an evidence bundle (#253)
  CHANGELOG.md
  src/omnifocus/response-schemas/analyze.ts
  src/omnifocus/scripts/analytics/workflow-analysis-v3.ts
  src/tools/unified/OmniFocusAnalyzeTool.ts
  tests/unit/omnifocus/script-response-schemas.test.ts
  tests/unit/omnifocus/scripts/analytics/workflow-deferral-screens.test.ts
  tests/unit/omnifocus/scripts/analytics/workflow-root-skip.test.ts
  tests/unit/omnifocus/scripts/analytics/workflow-taskage.test.ts
  tests/unit/tools/unified/OmniFocusAnalyzeTool.test.ts
Due: prettier --write, eslint --fix

feat(OMN-289): surface computed fields, delete fabricated placeholders (#254)
  CHANGELOG.md
  src/tools/unified/OmniFocusAnalyzeTool.ts
  tests/unit/tools/unified/OmniFocusAnalyzeTool.test.ts
Due: prettier --write, eslint --fix

refactor(skill): progressive disclosure for omnifocus-assistant (#250)
  docs/skills/omnifocus-assistant/SKILL.md
  docs/skills/omnifocus-assistant/references/advanced-queries.md
  docs/skills/omnifocus-assistant/references/gtd-methodology.md
  docs/skills/omnifocus-assistant/references/intent-to-tool-calls.md
  docs/skills/omnifocus-assistant/references/interpreting-results.md
  docs/skills/omnifocus-assistant/references/task-creation.md
  docs/skills/omnifocus-assistant/references/workflow-daily-planning.md
  docs/skills/omnifocus-assistant/references/workflow-engage.md
  docs/skills/omnifocus-assistant/references/workflow-process-inbox.md
  docs/skills/omnifocus-assistant/references/workflow-weekly-review.md
  tests/unit/docs/claude-md-paths.test.ts
  tests/unit/docs/markdown-path-refs.ts
  tests/unit/docs/skill-reference-paths.test.ts
Due: prettier --write, eslint --fix

fix(OMN-300, OMN-301): sweep two contract changes into the integration suite
  CHANGELOG.md
  tests/integration/tools/unified/complete-delete-paths.test.ts
  tests/integration/tools/unified/update-paths.test.ts
Due: prettier --write, eslint --fix

fix(OMN-300, OMN-301): address /code-review — pin the delete read-back, sweep the file headers
  tests/integration/tools/unified/complete-delete-paths.test.ts
  tests/integration/tools/unified/update-paths.test.ts
Due: prettier --write, eslint --fix

fix(OMN-300, OMN-301): sweep two contract changes into the integration suite (#257)
  CHANGELOG.md
  tests/integration/tools/unified/complete-delete-paths.test.ts
  tests/integration/tools/unified/update-paths.test.ts
Due: prettier --write, eslint --fix

feat(OMN-302): weekly launchd job so the integration suite actually runs
  docs/dev/integration-scheduling.md
  scripts/ops/com.omnifocus-mcp.integration.plist.template
  scripts/ops/install-integration-schedule.sh
  scripts/ops/of-mcp-integration
Due: prettier --write

style(OMN-302): prettier-format the new doc
  docs/dev/integration-scheduling.md
Due: prettier --write

chore(OMN-302): widen the local gate to match CI — add format:check
  .husky/pre-push
  CLAUDE.md
Due: prettier --write

fix(OMN-302): address /code-review high — findings 1-3
  scripts/ops/install-integration-schedule.sh
  scripts/ops/of-mcp-integration
Due: none

fix(OMN-302): address re-gate — wire OF_MCP_REPO_DIR, wait on output not a pid
  scripts/ops/com.omnifocus-mcp.integration.plist.template
  scripts/ops/install-integration-schedule.sh
Due: none

fix(OMN-302): address 3rd gate — preflight auto-launched OmniFocus
  docs/dev/integration-scheduling.md
  scripts/ops/install-integration-schedule.sh
  scripts/ops/of-mcp-integration
Due: prettier --write

fix(OMN-302): bound every long step — an unbounded wedge blocked all future runs
  docs/dev/integration-scheduling.md
  scripts/ops/of-mcp-integration
Due: prettier --write

fix(OMN-302): address 5th gate — kill the process GROUP, per-step timeouts
  docs/dev/integration-scheduling.md
  package.json
  scripts/ops/install-integration-schedule.sh
  scripts/ops/of-mcp-integration
Due: prettier --write

feat(OMN-302): weekly launchd job so the integration suite actually runs (#258)
  .husky/pre-push
  CLAUDE.md
  docs/dev/integration-scheduling.md
  package.json
  scripts/ops/com.omnifocus-mcp.integration.plist.template
  scripts/ops/install-integration-schedule.sh
  scripts/ops/of-mcp-integration
Due: prettier --write

fix(OMN-302): the liveness probe does not work under launchd
  scripts/ops/install-integration-schedule.sh
  scripts/ops/of-mcp-integration
Due: none

fix(OMN-302): the log guard broke the mirror case
  scripts/ops/install-integration-schedule.sh
Due: none

docs(OMN-302): the comment claimed a mechanism that was never measured
  scripts/ops/install-integration-schedule.sh
Due: none

fix(OMN-302): the liveness probe does not work under launchd (#259)
  scripts/ops/install-integration-schedule.sh
  scripts/ops/of-mcp-integration
Due: none

fix(OMN-307): delete the unreachable filters.search lowering alias
  CHANGELOG.md
  src/contracts/ast/builder.ts
  src/contracts/ast/script-builder.ts
  src/contracts/filters.ts
  tests/unit/contracts/ast/builder.test.ts
  tests/unit/contracts/ast/describe-filter-coverage.test.ts
  tests/unit/contracts/ast/filter-generator.test.ts
  tests/unit/tools/unified/schemas/read-schema.test.ts
Due: prettier --write, eslint --fix

fix(OMN-307): repoint two OMN-142 guards off the deleted search field
  tests/unit/contracts/ast/filter-coverage.test.ts
  tests/unit/tools/unified/compilers/QueryCompiler.test.ts
Due: prettier --write, eslint --fix

docs(OMN-307): add typecheck:test to the pre-completion gate, and to ci:local
  CLAUDE.md
  scripts/ci-local.sh
Due: prettier --write

fix(OMN-309): projects queries silently ignored offset
  src/contracts/ast/script-builder.ts
  src/omnifocus/response-schemas/read.ts
  src/tools/unified/OmniFocusReadTool.ts
  tests/integration/omn-309-projects-offset.test.ts
  tests/unit/tools/unified/omn-309-project-offset.test.ts
Due: prettier --write, eslint --fix

fix(OMN-309): address /code-review findings — metadata.offset + stale comment
  src/omnifocus/response-schemas/read.ts
  src/tools/unified/OmniFocusReadTool.ts
  tests/unit/tools/unified/omn-309-project-offset.test.ts
Due: prettier --write, eslint --fix

fix(OMN-309): projects queries silently ignored offset (#263)
  src/contracts/ast/script-builder.ts
  src/omnifocus/response-schemas/read.ts
  src/tools/unified/OmniFocusReadTool.ts
  tests/integration/omn-309-projects-offset.test.ts
  tests/unit/tools/unified/omn-309-project-offset.test.ts
Due: prettier --write, eslint --fix

fix(OMN-310): tags/folders queries silently dropped limit AND offset
  src/contracts/ast/script-builder.ts
  src/contracts/ast/tag-script-builder.ts
  src/contracts/tag-options.ts
  src/tools/unified/OmniFocusReadTool.ts
  tests/integration/omn-310-tags-folders-pagination.test.ts
  tests/unit/contracts/ast/folder-builders.test.ts
  tests/unit/tools/unified/omn-310-tags-folders-pagination.test.ts
Due: prettier --write, eslint --fix

feat(OMN-311): projects sort implemented; sort rejected loudly where unsupported
  src/contracts/ast/script-builder.ts
  src/omnifocus/response-schemas/read.ts
  src/tools/unified/OmniFocusReadTool.ts
  src/tools/unified/schemas/read-schema.ts
  tests/integration/omn-311-projects-sort.test.ts
  tests/unit/tools/unified/omn-311-projects-sort.test.ts
Due: prettier --write, eslint --fix

feat(OMN-311): address /code-review findings — page-only enrichment, shared field list, localeCompare
  src/contracts/ast/script-builder.ts
  src/tools/unified/schemas/read-schema.ts
  tests/unit/tools/unified/omn-311-projects-sort.test.ts
Due: prettier --write, eslint --fix

fix(OMN-310): address /code-review findings — tags noun in count honesty, folders cost rationale
  src/contracts/ast/script-builder.ts
  src/utils/response-format.ts
Due: prettier --write, eslint --fix
