Repository kip-d/omnifocus-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

chore: remove temporary session files from 2025-12-10
  .husky.disabled/pre-commit
  docs/plans/PR_CREATION_SESSION_2025-12-10.md
Due: prettier --write

chore: properly configure husky git hooks tracking
  .gitignore
  .husky/pre-commit
Due: none

chore: update pre-commit hook to modern husky format
  .husky/pre-commit
Due: none

fix: resolve prettier formatting errors
  .gitignore
  tests/v2-integration/test-v2-comprehensive.ts
Due: prettier --write, eslint --fix

feat: implement branded types for ID safety in ManageTaskTool
  src/tools/tasks/ManageTaskTool.ts
  tests/unit/tools/tasks/manage-task-branded-types.test.ts
Due: prettier --write, eslint --fix

feat: implement branded types for comprehensive type safety
  src/tools/projects/ProjectsTool.ts
  src/tools/tags/TagsTool.ts
  src/tools/tasks/QueryTasksTool.ts
  src/tools/unified/OmniFocusWriteTool.ts
  tests/unit/tools/projects/ProjectsToolV2.test.ts
Due: prettier --write, eslint --fix

chore: apply prettier formatting to branded types files
  src/tools/projects/ProjectsTool.ts
  src/tools/tags/TagsTool.ts
  src/tools/tasks/QueryTasksTool.ts
  src/tools/unified/OmniFocusWriteTool.ts
Due: prettier --write, eslint --fix

feat: integrate circuit breaker, error recovery, and enhanced errors into BaseTool
  src/tools/base.ts
Due: prettier --write, eslint --fix

chore: fix linting warnings and ensure code quality compliance
  src/tools/base.ts
Due: prettier --write, eslint --fix

docs: add comprehensive repetition rule investigation and recommendations
  docs/plans/2025-12-15-repetition-rule-investigation.md
Due: prettier --write

Fix project assignment in task operations
  docs/user-testing/omnifocus-mcp-validation.md
  src/tools/tasks/ManageTaskTool.ts
  tests/unit/tools/tasks/manage-task-project-mapping-simple.test.ts
Due: prettier --write, eslint --fix

fix: prevent unintended inbox moves during task updates
  src/tools/tasks/ManageTaskTool.ts
Due: prettier --write, eslint --fix

test: update protocol version expectation to match SDK 1.17+
  tests/integration/llm-assistant-simulation.test.ts
  tests/integration/mcp-protocol.test.ts
Due: prettier --write, eslint --fix

docs: add test case for task update without project change
  docs/user-testing/omnifocus-mcp-validation.md
Due: prettier --write

docs: clarify project assignment semantics in API reference
  docs/api/API-COMPACT-UNIFIED.md
Due: prettier --write

fix: support unified API 'project' field in task creation
  CONVERSATION_SAVE_2025-12-15.md
  src/tools/tasks/ManageTaskTool.ts
  tests/integration/llm-assistant-simulation.test.ts
  tests/integration/mcp-protocol.test.ts
  tests/unit/tools/base-circuit-breaker.test.ts
Due: prettier --write, eslint --fix

Fix task project assignment in update operations
  src/contracts/ast/mutation-script-builder.ts
  src/tools/tasks/ManageTaskTool.ts
Due: prettier --write, eslint --fix

Fix project folder assignment in update operations
  src/contracts/ast/mutation-script-builder.ts
Due: prettier --write, eslint --fix

Streamline user testing prompt for Claude Desktop
  docs/user-testing/omnifocus-mcp-validation.md
Due: prettier --write

Expand validation prompt to cover all major functionality
  docs/user-testing/omnifocus-mcp-validation.md
Due: prettier --write

fix: remove double-quoting in script template placeholders
  src/omnifocus/scripts/folders/delete-folder.ts
  src/omnifocus/scripts/folders/move-folder.ts
  src/omnifocus/scripts/folders/update-folder.ts
  src/omnifocus/scripts/projects/complete-project.ts
  src/omnifocus/scripts/projects/delete-project.ts
  src/omnifocus/scripts/reviews/mark-project-reviewed.ts
Due: prettier --write, eslint --fix

refactor: use lenient branded type casts across all tools
  package.json
  src/tools/folders/FoldersTool.ts
  src/tools/projects/ProjectsTool.ts
  src/tools/reviews/ManageReviewsTool.ts
  src/tools/tags/TagsTool.ts
  src/tools/tasks/ManageTaskTool.ts
  src/tools/tasks/QueryTasksTool.ts
  src/tools/unified/OmniFocusWriteTool.ts
Due: prettier --write, eslint --fix

chore: use npx for prettier scripts
  package.json
Due: prettier --write

fix: resolve lint warnings and improve test isolation
  package-lock.json
  src/http-server.ts
  src/tools/analytics/OverdueAnalysisTool.ts
  src/tools/analytics/PatternAnalysisTool.ts
  src/tools/system/SystemTool.ts
  src/tools/tasks/ManageTaskTool.ts
  tests/integration/helpers/mcp-test-client.ts
  tests/integration/helpers/shared-server.ts
  tests/integration/validation/update-operations.test.ts
Due: prettier --write, eslint --fix

chore: archive list-tasks-omnijs.ts, update docs for Phase 1 completion
  .archive/scripts/list-tasks-omnijs.ts
  docs/plans/2025-11-24-ast-consolidation-opportunities.md
  src/omnifocus/scripts/tasks.ts
  tests/unit/completed-project-tasks.test.ts
  tests/unit/guards/jxa-newline-escape.test.ts
  tests/unit/performance-optimizations.test.ts
Due: prettier --write, eslint --fix

feat: migrate BatchCreateTool to AST builders, archive update-task-v3.ts
  .archive/scripts/update-task-v3.ts
  docs/plans/2025-11-24-ast-consolidation-opportunities.md
  src/omnifocus/scripts/tasks.ts
  src/tools/batch/BatchCreateTool.ts
  tests/unit/guards/jxa-newline-escape.test.ts
  tests/unit/performance-optimizations.test.ts
  tests/unit/task-search-limit.test.ts
Due: prettier --write, eslint --fix

feat: migrate ProjectsTool to AST builders, complete Phase 2
  .archive/scripts/complete-project.ts
  .archive/scripts/create-project.ts
  .archive/scripts/delete-project.ts
  docs/plans/2025-11-24-ast-consolidation-opportunities.md
  src/tools/projects/ProjectsTool.ts
Due: prettier --write, eslint --fix

feat: complete Phase 3 AST query consolidation for projects and tags
  docs/plans/2025-11-24-ast-consolidation-opportunities.md
  docs/plans/2025-11-25-phase3-ast-extension-design.md
  src/contracts/ast/filter-generator.ts
  src/contracts/ast/script-builder.ts
  src/contracts/ast/tag-script-builder.ts
  src/contracts/filters.ts
  src/contracts/tag-options.ts
  src/tools/projects/ProjectsTool.ts
  src/tools/tags/TagsTool.ts
  tests/unit/ast-phase3-builders.test.ts
  tests/unit/tools/tags-tool-v2.test.ts
Due: prettier --write, eslint --fix

chore: archive legacy list-projects-v3.ts and list-tags-v3.ts
  .archive/scripts/list-projects-v3.ts
  .archive/scripts/list-tags-v3.ts
  tests/unit/performance-optimizations.test.ts
  tests/unit/tag-conversion.test.ts
  tests/unit/tag-operations.test.ts
Due: prettier --write, eslint --fix

feat: complete Phase 4 AST consolidation for recurring task analysis
  .archive/scripts/analyze-recurring-tasks.ts
  docs/plans/2025-11-24-ast-consolidation-opportunities.md
  src/omnifocus/scripts/recurring.ts
  src/omnifocus/scripts/recurring/analyze-recurring-tasks-ast.ts
  src/tools/recurring/RecurringTasksTool.ts
  tests/unit/ast-phase4-recurring.test.ts
  tests/unit/guards/jxa-newline-escape.test.ts
Due: prettier --write, eslint --fix

docs: update validation prompt for AST consolidation coverage
  docs/user-testing/omnifocus-mcp-validation.md
Due: prettier --write

fix: count-only query returning 0 due to missing result.data access
  src/tools/tasks/QueryTasksTool.ts
Due: prettier --write, eslint --fix

chore: archive create-task.ts, complete AST consolidation cleanup
  .archive/scripts/create-task.ts
  docs/plans/2025-11-24-ast-consolidation-opportunities.md
  src/omnifocus/scripts/tasks.ts
  tests/integration/edge-case-escaping.test.ts
Due: prettier --write, eslint --fix

docs: add future consolidation opportunities backlog
  docs/plans/2025-12-18-future-consolidation-opportunities.md
Due: prettier --write

refactor: migrate export-tasks.ts to AST filter generator
  docs/plans/2025-12-18-future-consolidation-opportunities.md
  src/contracts/ast/script-builder.ts
  src/omnifocus/scripts/export/export-tasks.ts
  src/tools/export/ExportTool.ts
  tests/unit/completed-project-tasks.test.ts
  tests/unit/tools/export/export-tool.test.ts
Due: prettier --write, eslint --fix

refactor: migrate get-task-count.ts to AST filter generator
  docs/plans/2025-12-18-future-consolidation-opportunities.md
  src/contracts/ast/builder.ts
  src/contracts/ast/script-builder.ts
  src/omnifocus/scripts/tasks.ts
  src/omnifocus/scripts/tasks/get-task-count.ts
  src/tools/tasks/QueryTasksTool.ts
Due: prettier --write, eslint --fix

docs: add HTTP transport section to README
  README.md
Due: prettier --write

chore: remove debug fields from processAdvancedFilters
  src/tools/tasks/QueryTasksTool.ts
Due: prettier --write, eslint --fix

docs: mark debug field cleanup as completed
  docs/plans/2025-12-18-future-consolidation-opportunities.md
Due: prettier --write
